.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header{
  width: 100vw;
}

.header {
  height: 70px;
  background-color: lightslategrey;
  display: flex;
  flex-direction: row-reverse;

  .user-info{
    height: 100%;
    display: flex;
    align-self: stretch;
    align-content: center;
    margin: 0px 20px;

    span {
      align-self: center;
    }
  }

  .button-out {
    align-self: center;
    margin: 0px 20px;
  }

}

.user_info {
  display: flex;
  // align-self: stretch;
  align-content: center;
  flex-direction: row;

  .left {
    flex-grow: 4;
    align-self: stretch;
    border: 1px solid black;
  }

  .right {
    flex-grow: 1;
    align-self: stretch;
    align-content: center;
    text-align: center;

    .image {
      border-radius: 10px;
      margin: 20px;
    }
  }
}

footer {
  height: 50px;
  width: 100vw;
  background-color: lightslategrey;
}

.app_left_block {
  flex-grow:1;
  background-color: lightblue;

  .menu-item {
    padding: 15px;
    text-align: center;

    &:hover {
      background-color:rgb(94, 109, 126);
    }
  }

}

.app_content {
  flex-grow: 10;
}





// .general_block
// {
//   border: 1px solid black;
// }

// .footer_block {
//   border: 1px solid black;
// }

// .header_block {
//   height: 50px;
//   border: 1px solid black;
// }

// .left_block {
//   border: 1px solid black;
// }


// .left_menu {
//   top: 50px;
//   bottom: 0px;
//   display: flex;
//   position: relative;
//   flex-grow: 4;
//   flex-direction: column;
//   background-color: #343434;

//   &__item {
//     // background-color: '#fa625c';
//     text-align: center;
//     color: white;
//     height: 50px;
//   }

//   &__item:hover {
//     background-color: #fa625c;
//   }

//   .menu-item {
//     display: flex;
//     flex-direction: column;

//     &__title {
//       // justify-content: center;
//       margin: auto;
//     }
//   }
// }

// .top_menu {
//   display: flex;
//   position: fixed;
//   flex-grow: 1;
//   flex-direction: row;
//   justify-content: center;
//   top: 0px;
//   left: 0px;
//   right: 0px;
//   height: 50px;
//   background-color: #330b0b;


//   &__item {
//     // background-color: '#fa625c';
//     text-align: center;
//     color: white;
//     height: 100%;
//     padding: 0px 15px;
//     // width: 50px;
//   }

//   &__item:hover {
//     background-color: #fa625c;
//   }

//   .menu-item {
//     display: flex;
//     flex-direction: column;

//     &__title {
//       // justify-content: center;
//       margin: auto;
//     }
//   }
// }

// .content {
//   // top: 50px;
//   // bottom: 50px;
//   // // height: 100vh;
//   // display: flex;
//   // position: relative;
//   // flex-grow: 30;
//   // align-content: stretch;
//   // flex-direction: column;

//   display: 'flex';
//   align-items: 'center';
//   justify-content: 'flex-end';
//   // padding: theme.spacing(0, 1);
// }
