.global-text {
  // text-shadow: white 0px 0px 3px,
  //              white 0px 0px 3px,
  //              white 0px 0px 3px, 
  //              white 0px 0px 3px;
  color: #202118;
  font-size: 18px;
  font-weight: bold;
};

.global-color {
  // &-purple {
  //   color: rgb(89, 13, 194);
  // }
  // background-color: #e8ded3;
  padding: 5px;
}
