.user_info {
  top: 50px;
  bottom: 0px;
  // display: inline;
  position: relative;
  // flex-grow: 30;
  flex-direction: row;
  text-align: left;
  // height: 100vh;
  // align-content: stretch;
  .wrap_photo {
    flex-grow: 1;
  }
  .wrap_info {
    flex-grow: 3;
  }
}

.photo {
  display: inline-block;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 20px;
  align-self: right;
}